body {
}

.country p {
    color: var(--grey);
}

.country-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    height: 80vh;
}

.country {
    margin-bottom: 5%;
    width: 20vw;
    height: 85vh;
    margin: 10px;
    padding: 15px;
    min-width: 100px;
    margin: auto;
    margin-bottom: 20px;
}

.mini-ruler {
    height: 2px;
    width: 3vw;
    background-color: var(--orange);

}

.title {
    margin: auto;
    margin-top: 5%;
    width: 45vw;
    text-align: center;
    margin-bottom: 6%;
    display: flex;
    height: 10vh;


}

h1 {
    font-size: 80px;
    margin: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}

.vert-ruler {
    height: 13vh;
    width: 1%;
    background-color: var(--orange);
    margin: auto;
}

.subtitle {
    text-align: left;
    margin: 10px;
    width: 30%;
    min-width: 200px;

}

.subtitle h4 {
    font-size: 18px;
    margin: 0;
    
}