:root {
    /*
        Color palette
    */
    --blue: #3f63ab;
    --darkblue: #2b3d6b;

    --green: #5da166;
    --darkgreen: #2a613e;

    --yellow: #d9b44e;

    --orange: #cf7827;
    --brown: #613c2a; 

    --red: #9c1111;
    --darkred: #5e1717;
    
    --black: #28292b;
    --white: #d4d0cd;
}

body {
    margin: 0;
    box-sizing: border-box;

}

h1, h2, h3, h4, p, a {
    color: var(--white);
    font-family: 'gill sans';
    font-weight: normal;
}