* {
    box-sizing: border-box;
}


:root {
    /*
        Color palette
    */
    --blue: #3f63ab;
    --darkblue: #2b3d6b;

    --green: #5da166;
    --darkgreen: #2a613e;

    --yellow: #d9b44e;

    --orange: #cf7827;
    --lightorange: #cc8e58;
    --brown: #613c2a; 

    --red: #9c1111;
    --darkred: #5e1717;
    
    --black: #28292b;
    --darkblack: #141417;

    --darkgrey: #3e3e42;
    --white: #d4d0cd;
    --grey: #b0aeae;
}

/* animations */



body {
    margin: 0;
    background-color: var(--black);


}


h1, h2, h3, h4, p, a, li, ul {
    color: var(--white);
    font-family: 'optima';
    font-weight: normal;
}

a {
    text-decoration: none;
    
}


.background {
    width: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0;
    z-index: -1;
}

.navbar {
    width: 100%;
    height: 80px;
    margin: auto;
    position: sticky;
    top: 0;
    padding-top: 30px;
    padding-right: 15%;
    padding-left: 15%;
    display: flex;
    background-color: var(--black);

    
}
.logo {
    width: 20%;
}

.navspacer {
    width: 40%;
    height: 60px;
}

.nav-right {
    width: 60%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 0;
    min-width: 550px;
}

.nav-right button {
    margin-left: 10px;
}

.navbar button, .navbar a{
    height: 35px;
    width: 100px;
    margin: auto;
    border-radius: 2px;
    border: 0;
    background-color: var(--black);

}

.navbar a {
    width: 120px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 550;
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: var(--orange);
}

#diagonal{
    transform: skew(-20deg);
    background-color: var(--orange);
    margin-right: 5px;
}

#diagonal a {
    background-color: var(--orange);
}



.dropdown:hover .dropdown-content {display: block;}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}
  
.dropdown-content button, .dropdown-content a {
    text-decoration: none;
    display: block;
    width: 100px;
    height: 40px;
    padding-top: 12px;
    text-align: center;
}


.dropdown-content a:hover {
    background-color: var(--orange);
}
  

  