/*0.6.1 CSS code (styles.css) */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

h2 {
   

}

h3 {
    color: var(--grey);
}
  
  #container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .country-block {

    padding: 20px;
    width: 200px;
    margin: 10px;
    text-align: center;
  }
  
  #policyButtons {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #runSimulation {
    display: block;
    margin: 3% auto 0 auto;
    padding: 10px 20px;
    background-color: var(--black);
    color: var(--white);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 550;
  }

  #runSimulation:hover {
    background-color: var(--orange);
  }
  .hidden {
    display: none;
  }

  .bar {
    height: 0.3vh;
    width: 3vw;
    background-color: var(--orange);
    margin: auto;
  }
  
  #loading-bar-container {
    width: 100%;
    height: 20px;
    background-color: grey;
  }
  
  #loading-bar {
    width: 0%;
    height: 100%;
    background-color: green;
    position: relative;
  }


  .graph-container {
    display: flex;
  }

canvas {
    height: 200px;
    width: 200px;
}
  #graph {
    width: 40%;
  }
  
  /* Add more styles as needed */
  
