.rules-container {
    margin: auto;
    width: 70%;
}

.title {
    text-align: center;
    font-size: 35px;
}

.ruler {
    height: 2px;
    width: 15%;
    background-color: var(--orange);
    margin: auto;
}

.rules li, .rules ul{
    font-size: 20px;
    color: var(--grey);
}

