body {
    background-color: var(--black);

}

.button-bar {
    margin: auto;
    width: 70%;
    justify-content: space-between;
    background-color: var(--blue);
    height: 50px;
    display: flex;
}

.button-bar button {
    width: 130px;
    height: 30px;
    color: var(--white);
    margin: auto;
    border: 0;
    border-radius: 10px;

}

.button-bar a {
    text-decoration: none;
    
}



.header {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 400px;
}

.header h1 {
    font-size: 60px;
}

.img {
    position: absolute;
    top: 30%;
    right: 15%;
}