* {
    z-index: 0;
}

body {
    background-color: var(--black);
    overflow-y: hidden;
    

}


.title {
    width: 70%;
    margin: auto;
}

.header {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 30%;
}

.header h1 {
    font-size: 12vh;
    margin-bottom: 5vh;
    margin-top: 10px;
}

h4 {
    color: var(--orange);
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-size: 3vh;
}

.header h3 {
    margin-bottom: 50px;
    color: var(--grey);
}

.map {
    position: absolute;
    top: -13vh; 
    right: -13vw;  
    width: 60vw;
}

.img {
    position: absolute;
    top: 30%;
    right: 15%;
    width: 30%;
    z-index: -1;
}

.ruler {
    background-color: var(--orange);
    margin-bottom: 20px;
    width: 300px;
    height: 4px;
}

.made-by {
    position: absolute;
    padding-left: 15%;
    bottom: 0.25%;

}

.made-by a {
    margin-left: 5px;
}

.made-by a:hover {
    color: var(--orange);
}

.animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.1;
    z-index: -1;
}

.header button {
    width: 120px;
    height: 35px;
    background-color: var(--orange);
    border: 0;
    border-radius: 4px;
    text-transform: uppercase;
    transform: skew(-20deg);
}

.header a {
    color: var(--white);

}