.title {
    text-align: center;
    font-size: 5vh;
}

.mini-bar {
    height: 2px;
    width: 60px;
    background-color: var(--orange);
}
.industry-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.industry {
    width: 20vw;
    min-width: 250px;
    min-height: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}

p {
    color: var(--grey);
}