.title {
    margin: auto;
    width: 70%;
    text-align: center;
}

.title h1 {
    font-size: 60px;
}

.policies-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}

.policy {
    margin: 0;
    width: 22vw;
    height: 50vh;
    min-width: 250px;
    margin: auto;
    margin-bottom: 20px;

}

.policy p {
    color: var(--grey);
}

.bar {
    height: 2px;
    width: 5vw;
    background-color: var(--orange);
}