body{
    background-color: var(--black);
}
#quiz-container {
    width: 800px;
    height: 300px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Optima';
    font-size: 200%;
  }
  .btn {
    margin: 5px;
    padding: 5px;
  }
  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }